
<style>
    #top {
      background-color: blue;
      padding: 20;
    }
    p{color: red;}
    a{color: blue;}
    h1{
      font-size: 20px;
      font-weight: normal;
      font-family:'Courier New', Courier, monospace;
      color: red;
      background-color: wheat;
      padding: 30%;
    }  
    h3, h5{color: green;}
    h4 {
      color: yellowgreen;
      padding: 2%;
      background-color: rosybrown;  
    }
</style>
