

.full-page {
  background-color: rgba(213, 225, 229, 0.516);
}


.grid-container {

  display: grid;
  grid-template-columns: 500px 970px;
  grid-gap: 20px;
}

.background {
  background-image: url(/images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1500px;
  height: 100vh;
}

img {
  border: 3px solid black;
  width: 180px; 
  height: auto;
  margin-left: 7.5%;
}

header {
  flex: 1;
  min-width: 300px;
  line-height: 0.4px;
  letter-spacing: 1px;
  color: black;
  padding-bottom: 20px;

}


 
.title {
  font-size: 2vw;
  text-align: center;
  flex: 3;
}

.intro{
  text-align: center;
  flex: 1;
  border-bottom: 190px solid rgba(127, 135, 140, 0.366);
  min-width: 180px;
  padding: 1%;
  font-size: 2vw;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

a {
  color: #000;
}

.left-side {
  background-color: rgba(200, 200, 200, 0.456);
  border-radius: 12px 12px 12px 12px;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 1.5vw;
}
.contacts {
  line-height: 0.5;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2vw; 
  color: black; 
  padding: 2%;
  font-weight: lighter;
}

.skills {
  line-height: 0.5;
  width: 36%;
  font-size: 2vw; 
  color: black; 
  padding: 2%;
  font-weight: lighter;
}

.tools {
  line-height: 0.5;
  width: 36%;
  font-size: 15px; 
  color: black; 
  padding: 2%;
  font-weight: lighter;
}

.experience {
  border-left: 3px solid black;
  line-height: 1.5;
  font-size: 2vw; 
  color: black; 
  padding: 4%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-end: 3;
}

.education {
  background-color: rgba(200, 200, 200, 0.456);
  border-radius: 12px 12px 12px 12px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 4;
  padding: 2%;
}

.education1 {
  font-size: 15px; 
  color: black; 
}

.education2 {
  float: right;
  width: 50%;
  margin-top: -10%;
  color: black;
}

#forms {
  color: white;
  border: black solid 3px;
  padding: 2%;
  background-image:url(https://media.istockphoto.com/id/1316403377/photo/high-quality-marble-texture.jpg?s=170667a&w=0&k=20&c=k38SrVIWCJDgD6Rkm0xuMRd9cTTB2Oy_k5znc4-W3Uc=);  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 5;
  padding: 2%;
  border-radius: 12px 12px 12px 12px;
}

#submit {
  background-color: rgba(162, 220, 237, 0.801);
  color: black;
}

#headings {
  font-size: 20px; 
  color: rgba(58, 185, 221, 0.801); 
  font-weight: bold;
}


#headings1 {
  font-size: 2vw; 
  color: rgba(58, 185, 221, 0.801); 
  font-weight: bold;
}

#headings2 {
  font-size: 2vw; 
  color: rgba(58, 185, 221, 0.801); 
  font-weight: bold;
}

#headings3 {
  font-size: 2vw; 
  color: rgba(58, 185, 221, 0.801); 
  font-weight: bold;
}

#headings4 {
  font-size: 2vw; 
  color: rgba(58, 185, 221, 0.801); 
  font-weight: bold;
}

#headings5 {
  font-size: 2vw; 
  color: rgba(58, 185, 221, 0.801); 
  font-weight: bold;
}

#headings6 {
  font-size: 2vw; 
  color: rgba(58, 185, 221, 0.801); 
  font-weight: bold;
}

#details1 {
  font-size: 1.5vw;
  color: black;
}

#details2 {
  font-size: 1.5vw;
  color: black;
}

#details3 {
  font-size: 1.5vw;
  color: black;
}

#details4 {
  font-size: 1.5vw;
  color: black;
}



/*Mobile*/
@media only screen and (max-width: 425px){
  .full-page {
    background-color: rgba(231, 232, 232, 0.121);
  }

  .grid-container {
    display:list-item;
    grid-gap: 40px;
    margin-left: 50px;
    text-align: center;
    min-width: 1400px;
  }
  
  img {
    border: 4px solid black;
    width: 400px; 
    height: auto;
    margin:auto;
  }
  
  header {
    flex: 1;
    min-width: 425px;
    line-height: 0.4px;
    color: black;
    padding-bottom: 20px;
   
  }

  .title {
    font-size: 7vw;
    text-align: center;
    line-height: 50%;
  }

  .intro{
    text-align: center;
    flex: 1;
    height: 350px;
    border-bottom: 5px solid black;
    min-width: 180px;
    padding: 1%;
    font-size: 9vw;
  }

  .left-side {
    margin-top: 40px;
    background-color: rgba(178, 184, 209, 0.336);
    border-radius: 12px 12px 12px 12px;
    padding: 10px;
    font-size: 7.5vw;
    border-right: 3px solid black;
  }

  .contacts {
    line-height: 0.5;
    font-size: 8.5vw; 
    color: black; 
    padding: 2%;
    font-weight: lighter;
  }

  .skills {
    line-height: 0.5;
    font-size: 8.5vw; 
    color: black; 
    font-weight: lighter;
    margin-left: 30%;
    
  }
  
  .tools {
    line-height: 0.9;
    font-size: 8.5vw; 
    color: black; 
    font-weight: lighter;
    margin-left: 30%;
  }
  
  .experience {
    margin-top: 40px;
    background-color: rgba(178, 184, 209, 0.336);
    border-left: 3px solid black;
    line-height: 1.4;
    font-size: 8.5vw; 
    color: black; 
    padding: 2%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
  }
  .education {
    margin-top: 40px;
    border-right: 4px solid black;
    background-color: rgba(178, 184, 209, 0.336);
    border-radius: 12px 12px 12px 12px;
    padding: 2%;
    font-size: 8.5vw;
    text-align: left;
  }
  .education1 {
    font-size: 8.5vw; 
    color: black; 
  }
  
  .education2 {
    text-align: left;
    margin-top: -220px;
    color: black;
  }

  #forms {
    margin-top: 40px;
    font-size: 8.5vw;
    color: white;
    border: black solid 3px;
    padding: 2%;
    background-image:url(https://media.istockphoto.com/id/1316403377/photo/high-quality-marble-texture.jpg?s=170667a&w=0&k=20&c=k38SrVIWCJDgD6Rkm0xuMRd9cTTB2Oy_k5znc4-W3Uc=);  
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 5;
    padding: 2%;
    border-radius: 12px 12px 12px 12px;
  }
  
  #submit { 
    font-size: 8.5vw;
    background-color: rgba(162, 220, 237, 0.801);
    color: black;
  }

  #headings {
    font-size: 9vw; 
    color: rgb(45, 202, 246); 
    font-weight: bold;
  }
  
  
  #headings1 {
    font-size: 9vw; 
    color: rgb(45, 202, 246); 
    font-weight: bold;
  }
  
  #headings2 {
    font-size: 9vw; 
    color: rgb(45, 202, 246); 
    font-weight: bold;
  }
  
  #headings3 {
    font-size: 9vw; 
    color: rgb(45, 202, 246); 
    font-weight: bold;
  }
  
  #headings4 {
    font-size: 9vw; 
    color: rgb(45, 202, 246); 
    font-weight: bold;
  }
  
  #headings5 {
    font-size: 9vw;
    text-align: center;
    color: rgb(45, 202, 246); 
    font-weight: bold;
  }
  
  #headings6 {
    font-size: 9vw; 
    color: rgb(45, 202, 246); 
    font-weight: bold;
  }
  
  #details1 {
    font-size: 8vw;
    color: black;
  }
  
  #details2 {
    font-size: 8vw;
    color: black;
  }
  
  #details3 {
    font-size: 8vw;
    color: black;
  }
  
  #details4 {
    font-size: 8vw;
    color: black;
  }

  h3 {
    font-size: 8vw;
  }
  
}




/*Mobile: 300px - 768px*/
/*Tablet: 769px - 1024px
Desktop / Laptop: 1024px - 1215px*/

/*/*code for mobile devices smaller than 600px*/
/*body { background-color: blue; }

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {
   body { background-color: red; }
} 

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
   body { background-color: green; }
} 

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
   body { background-color: yellow; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
   body { background-color: orange; }
}